$LightModebgColor: #ebdccd; // 明亮模式背景
$LightModebgColor2: #c79b70; // 明亮模式背景2
$LightModeFontColor: #333; // 明亮模式字體

$DarkModebgColor: #333; // 暗色模式背景
$DarkModeFontColor: #fff; // 暗色模式字體

#app{
  background-color: $LightModebgColor !important;
  color: $LightModeFontColor;
  &.dark{
    background-color: $DarkModebgColor !important;
    color: $DarkModeFontColor;
    $LightModebgColor2: #8d7257;
    a{
      color: $DarkModeFontColor;
    }
  }
  a{
    color: $LightModeFontColor;
  }
}