$bgColor: #CBAD8D;
$bgColor2: #fff;
$bgColor3: #272625;

$mainColor: #CBAD8D;
$subColor: #A48374;
$secondaryColor: #272625;
$infoColor: #D1C7BD;

$mainFontColor: #333;
$subFontColor: #666;
$lightFontColor: #fff;
$brownFontColor: #9b7956;

// $fontSize:(
//   XXXXL: 36px;
//   XXXL: 32px;
//   XXL: 28px;XL: 24px;L: 20px;M: 18px;S: 16px;XS: 14px)